{% extends "layout.html" %}

{% block title%}
Task
{% endblock title%}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<form method=post>

{{ render_field(form.taskname) }}
{{ render_field(form.taskstate) }}
{{ render_field(form.taskduration) }}
{{ render_field(form.taskstart) }}
{{ render_field(form.taskend) }}

<input class="btn btn-primary btn-block" type="submit" value="Görev Oluştur" />

</form>

{% for task in activeTasks %}

<p>{{task.taskname}}</p>
<a class="btn btn-danger" href="/delete-task/{{task.uuid}}">Sil</a>
{% endfor %}

{% endblock body %}